@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* type scale */
$type-size-1 : 1.563em;  
$type-size-2 : 1.250em;
$type-size-3 : 0.750em;
$type-size-4 : 0.750em;
$type-size-5 : 0.750em;
$type-size-6 : 0.688em;
$type-size-7 : 0.688em;
$type-size-8 : 0.550em;

$paragraph-indent : true;